/*--------------------------------------------------
GÉNÉRIQUE
----------------------------------------------------*/
html {
    box-sizing: border-box;

}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*--------------------------------------------------
ÉLÉMENTS
----------------------------------------------------*/
body {
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

a {
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 36px;
    font-weight: 300;
    letter-spacing: 7.2px;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

h3 {
    font-size: 36px;
    font-weight: normal;
    margin: 10px 0;
}

/*-------------------------------------------------
COMPONENTS
----------------------------------------------------*/